.kv-panel-before {
    padding: 0;
    padding-bottom: 10px;
}

.form-control {
	border-radius: 4px;
}

.grid-view .panel {
	margin-bottom: 0;
	box-shadow: none;
}

.grid-view .panel-footer {
	border-top: none;
}

.skin-blue .main-header .navbar .dropdown-menu li a {
    color: #333;
}
/*.skin-blue .main-header .navbar .dropdown-menu li a:hover {
    color: #fff;
}*/
.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
}

.box {
    border-radius: 3px !important;
}